[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
llama-index = "*"
openai = "*"
pinecone-client = "*"
python-dotenv = "*"
llama-index-vector-stores-pinecone = "*"
black = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
